#find-screen{
    height: 110vh;
}
.recommended-friends{
    margin: 25px 0px;
    padding: 25px 0px;
    border-top: var(--main-border);
    border-bottom: var(--main-border);
}
.recommended-friends__title{
    font-size: 14px;
    opacity: 0.8;
}
.recommended-friends span{
    margin: 100px 0;
    display: block;
    text-align: center;
    font-size: 18px;
    opacity: 0.8;
}
.open-chat__header{
    display:flex;
    justify-content: space-between;
    font-size: 14px;
    opacity: 0.8;
    
}
.open-chat__header span, 
.open-chat__header span i{
    opacity: 0.6;
}
.open-post__title{
    font-weight: 600;
    margin-bottom: 7px;
}
.open-post__hashtags{
    text-transform: uppercase;
    opacity: 0.6;
}
.open-post__members .divider{
    width: 2px;
    height: 15px;
    margin: 0 5px;
    background-color: var(--beeswax);
}
.open-post__members img{
    width: 15px;
    height: 15px;
    border-radius: 10px;
    margin-right: 5px;
}
.open-post__members{
    margin-top: 7px;
    display: flex;

}
.open-post__member-status{
    color: rgba(58, 9, 9, 0.952);
    font-weight: 600;
}
.open-post__photo img{
    width: 120px;
    height: 120px;
    border-radius: 20px;
    
}
.open-post{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-bottom: 10px;
    border-bottom: var(--main-border); 
    margin-top: 20px;
}
.open-post__photo__like{
    width: 60px;
    height: 23px;
    border-radius: 10px;
    background-color: var(--beeswax);
    opacity: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20px;
    right: 8px;
}

@keyframes heartBeat{
    0%{
        color:white;
        transform:none;
    }
    50%{
        color:var(--chocolate);
        transform: scale(1.5);
    }
    100%{
        color:white;
    }
}
.open-post__photo__like .fa-heart{
    margin-right: 3px;
}

.open-post__photo__like:hover i{
    will-change: transform;
    animation: heartBeat 2s linear infinite;
}
